services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USERNAME: ${DOCKER_USER}
        UID: ${DOCKER_UID}
        GID: ${DOCKER_GID}
    container_name: laravel_app
    restart: unless-stopped
    ports:
      - "9000:9000"
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./storage:/var/www/storage
    depends_on:
      - mysql
      - redis
    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:latest
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - laravel

  redis:
    image: redis:latest
    container_name: laravel_redis
    restart: unless-stopped
    networks:
      - laravel

  queue:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USERNAME: ${DOCKER_USER}
        UID: ${DOCKER_UID}
        GID: ${DOCKER_GID}
    container_name: laravel_queue
    restart: unless-stopped
    command: php artisan queue:work --tries=3 --timeout=90
    volumes:
      - ./:/var/www
    depends_on:
      - app
      - redis
      - mysql
    networks:
      - laravel

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USERNAME: ${DOCKER_USER}
        UID: ${DOCKER_UID}
        GID: ${DOCKER_GID}
    container_name: laravel_scheduler
    restart: unless-stopped
    command: php artisan schedule:work
    volumes:
      - ./:/var/www
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  mysql_data: